Repository physiopy/physiopy.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Internal, Testing

link to repos
  docs/contributors-guide/codebase/plug-ins.md
Labels: none

Update plug-ins.md
  docs/contributors-guide/codebase/plug-ins.md
Labels: none

add welcome bot
  .github/config.yml
Labels: Internal

add link
  .github/config.yml
Labels: Internal

Update link to presentation slides for ReproNim24
  docs/repronim24_tutorials.md
Labels: Documentation

Update docs post governance change
  docs/best_practices.md
  docs/community/index.md
  docs/community/team.md
  docs/index.md
  docs/libraries/peakdet.md
  docs/libraries/phys2bids.md
  docs/libraries/phys2denoise.md
  docs/libraries/physioqc.md
  mkdocs.yml
Labels: Documentation

int: Update python version for deployment
  .github/dependabot.yml
  .github/workflows/bot.yaml
  .github/workflows/deploy.yml
Labels: Internal

Update team members after new governance
  docs/community/team.md
Labels: none

Add GitHub link for Rachael Stickland
  docs/community/team.md
Labels: none

Add github action to codespell mkdocs on push and PRs
  .github/workflows/codespell.yml
Labels: none

[DATALAD RUNCMD] chore: run codespell throughout fixing few left typos automagically
  docs/contributors-guide/codebase/reviewing-prs.md
  docs/index.md
  docs/libraries/phys2bids.md
Labels: Documentation

Add rudimentary codespell config
  .codespellrc
Labels: Internal

.github/labeler.yml:

Documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/*', '.readthedocs.yml', 'README.md', 'LICENSE', 'MANIFEST.in']

Internal:
  - changed-files:
      - any-glob-to-any-file: ['.*', 'codecov.yml', 'setup.cfg', 'setup.py', 'versioneer.py', '.github/*', '.circleci/*', ' physiopy.github.io/_version.py', 'requirements.txt', 'pyproject.toml']

Testing:
  - changed-files:
      - any-glob-to-any-file: [' physiopy.github.io/tests/*', '.circleci/*']
